@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.slim-heading, #global-footer h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 450;
  font-style: normal;
}

.bold-font, #global-footer #footer-kontakt span {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.flex-container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

#global-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  color: #1c1c1c;
  margin: 1rem;
}
#global-header form {
  color: #1c1c1c;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
  width: 55%;
}
#global-header form label {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 0;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  position: relative;
}
#global-header form label i {
  width: 100%;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 100%;
  color: #1c1c1c;
  position: absolute;
  top: 1px;
  right: 10px;
}
#global-header form label input {
  width: 100%;
  max-width: auto;
  height: 25px;
  padding: 1rem;
  border-radius: 25px;
  border: 1.5px solid #1c1c1c;
}
#global-header nav {
  width: 100%;
}
#global-header nav ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
#global-header nav ul li a {
  text-decoration: none;
  color: #1c1c1c;
}
#global-header #header-ikonmeny {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
#global-header #header-ikonmeny i {
  color: #1c1c1c;
}

#grid-container-forside {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto, auto, auto;
}
#grid-container-forside header {
  grid-column: "1 / 2";
  grid-row: "1 / 2";
}
#grid-container-forside main {
  grid-column: "1 / 2";
  grid-row: "2 / 3";
}
#grid-container-forside footer {
  grid-column: "1 / 2";
  grid-row: "3 / 4";
}

#sliderForside {
  padding: 0.5rem;
  position: relative;
}
#sliderForside header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 33%;
}
#sliderForside img {
  width: 100%;
  max-width: 100%;
  height: 85vh;
  padding: 0rem;
  border-radius: 30px;
}

#produkter .populaereProdKat {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
#produkter .populaereProdKat h2 {
  text-align: center;
  font-size: 300%;
  margin: 1rem;
}
#produkter .populaereProdKat ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  list-style: none;
  justify-content: center;
}
#produkter .populaereProdKat ul li {
  width: 8rem;
}
#produkter .populaereProdKat .filter-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  width: 8rem;
  border: 1.5px solid #b5b5b5;
  border-radius: 37px;
  text-align: center;
  text-decoration: none;
  color: #1c1c1c;
}
#produkter .populaereProdKat #active-filter-btn {
  background-color: #292929;
  color: #ffffff;
}
#produkter .product-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  padding: 0.5rem;
  position: relative;
  border: 2px solid #b5b5b5;
  border-radius: 30px;
}
#produkter .product-card picture {
  width: 100%;
}
#produkter .product-card picture img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  border-radius: 30px;
}
#produkter .product-card .product-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  background-color: #b5b5b5;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 50px;
}
#produkter .product-card a {
  text-decoration: none;
  color: #1c1c1c;
  font-weight: 750;
  font-family: "roboto";
  font-size: larger;
}
#produkter .product-card p {
  margin: 0;
  height: -moz-fit-content;
  height: fit-content;
}
#produkter .product-card .reviews {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  width: 100%;
  padding: 0;
  list-style: none;
}
#produkter .product-card .reviews p {
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  font-weight: 700;
}

#kategorier .populaereProdKat {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
#kategorier .populaereProdKat h2 {
  text-align: center;
  font-size: 300%;
  margin: 1rem;
}

#global-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  border-top: 2px solid #cacaca;
}
#global-footer a {
  color: #1c1c1c;
  text-decoration: none;
}
#global-footer h4 {
  margin: 0;
}
#global-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#global-footer #footer-ingress {
  width: 100%;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
#global-footer #footer-kontakt {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  width: 65%;
}
#global-footer #footer-kontakt ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
#global-footer #footer-kontakt li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
#global-footer #footer-snarveier {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  width: 100%;
}
#global-footer #footer-snarveier ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
#global-footer #footer-sosialemedier {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: left;
  width: 100%;
}
#global-footer #footer-sosialemedier h4 {
  width: 100%;
}
#global-footer #footer-sosialemedier ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
}
#global-footer #hopp-til-toppen {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */