// uke 42, 16.10
@mixin flexbox($direction, $wrap, $gap) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    gap: $gap;
}

@mixin box($width, $height, $padding, $bradius) {
    width: 100%;
    max-width: $width;
    height: $height;
    padding: $padding;
    border-radius: $bradius;
}